body{
    margin: 0px;
    padding: 0px;
    background-image: url(../assets/stars-1654074_1280.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center center;
}

.sun{
    height: 8vw;
    width: 8vw;
    background-image: url(../assets/sun.png);
    border-radius: 50%;
    background-size: cover;
    box-shadow: -4px 2px 56px #f9c05f;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.mercury{
    height: 1.4vw;
    width: 1.4vw;
    background: #a94c2b;
    border-radius: 50%;
    position: absolute;
    box-shadow: -4px 2px 56px #f9c05f;
    left: 43%;
    top: 42%;
    transform: translate(-50%,-50%);
    animation: orbit2 2s linear infinite;
}

@keyframes orbit2{
    from {transform: rotate(0deg)translateX(5.12vw) rotate(0deg);}
    to {transform: rotate(360deg)translateX(5.12vw) rotate(-360deg);}
}

p{
    color: white;
    font-size: .7vw;
    font-family: system-ui;
    position: absolute;
    left: -62px;
    top: -11px;
}

.mercury-outline,.venus-outline-1,.earth-outline-1,.mars-outline-1,.jupiter-outline-1,
.saturn-outline-1,.uranos-outline-1,.neptune-outline-1{
    border-radius: 50%;
    border: 1px dotted #ddd9;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}

.mercury-outline{
    height: 10.2vw;
    width: 10.2vw;
}

.venus{
    height: 2.9vw;
    width: 2.9vw;
    background-image: url(../assets/venus.png);
    background-size: 100%;
    border-radius: 50%;
    position: absolute;
    box-shadow: -4px 2px 56px #f9c05f;
    left: 40%;
    top: 42%;
    transform: translate(-50%,-50%);
    animation: orbit3 10s linear infinite;
}

@keyframes orbit3{
    from {transform: rotate(0deg)translateX(7.31vw) rotate(0deg);}
    to {transform: rotate(360deg)translateX(7.31vw) rotate(-360deg);}
}

.venus-outline-1{
    height: 14.6vw;
    width: 14.6vw;
}

.earth{
    height: 3.66vw;
    width: 3.66vw;
    background-image: url(../assets/earth.png);
    background-size: 100%;
    border-radius: 50%;
    position: absolute;
    box-shadow: -4px 2px 56px #2855d6;
    left: 44%;
    top: 43%;
    transform: translate(-50%,-50%);
    animation: orbit4 20s linear infinite;
}

@keyframes orbit4{
    from {transform: rotate(0deg)translateX(10.98vw) rotate(0deg);}
    to {transform: rotate(360deg)translateX(10.98vw) rotate(-360deg);}
}

.earth-outline-1{
    height: 21.96vw;
    width: 21.96vw;
}

.earth-circle{
    height: 4.76vw;
    width: 4.76vw;
    border: -1px dotted #fff;
    position: relative;
    left: -8px;
    top: -8px;
    border-radius: 40px;
}

.earth-inner{
    height: 0.73vw;
    width: 0.73vw;
    background-color: white;
    border-radius: 50%;
    position: absolute;
    transform: translate(-50%,-50%);
    left: 45%;
    top: 45%;
    animation: orbit5 3s linear infinite;
}

@keyframes orbit5{
    from {transform: rotate(0deg)translateX(2.41vw) rotate(0deg);}
    to {transform: rotate(360deg)translateX(2.41vw) rotate(-360deg);}
}

.mars{
    height: 2.19vw;
    width: 2.19vw;
    background-image: url(../assets/mars.png);
    background-size: 100%;
    border-radius: 50%;
    position: absolute;
    box-shadow: -4px 2px 56px #f9c05f;
    left: 46.5%;
    top: 46.5%;
    transform: translate(-50%,-50%);
    animation: orbit6 30s linear infinite;
}

@keyframes orbit6{
    from {transform: rotate(0deg)translateX(13.55vw) rotate(0deg);}
    to {transform: rotate(360deg)translateX(13.55vw) rotate(-360deg);}
}

.mars-outline-1{
    height: 27.10vw;
    width: 27.10vw;
}

.jupiter{
    height: 2.93vw;
    width: 2.93vw;
    background-image: url(../assets/jupiter.png);
    background-size: 100%;
    border-radius: 50%;
    position: absolute;
    box-shadow: -4px 2px 56px #cac2b9;
    left: 45%;
    top: 45%;
    transform: translate(-50%,-50%);
    animation: orbit7 60s linear infinite;
}

@keyframes orbit7{
    from {transform: rotate(0deg)translateX(15.87vw) rotate(0deg);}
    to {transform: rotate(360deg)translateX(15.87vw) rotate(-360deg);}
}

.jupiter-outline-1{
    height: 31.47vw;
    width: 31.47vw;
}

.saturn{
    height: 3.66vw;
    width: 3.66vw;
    background-image: url(../assets/saturn.png);
    background-size: 100%;
    border-radius: 50%;
    position: absolute;
    left: 45%;
    top: 45%;
    transform: translate(-50%,-50%);
    animation: orbit9 90s linear infinite;
}

@keyframes orbit9{
    from {transform: rotate(0deg)translateX(18.30vw) rotate(0deg);}
    to {transform: rotate(360deg)translateX(18.30vw) rotate(-360deg);}
}

.saturn-outline-1{
    height: 36.60vw;
    width: 36.60vw;
}

.uranos{
    height: 2.19vw;
    width: 2.19vw;
    background-image: url(../assets/uranos.png);
    background-size: 100%;
    border-radius: 50%;
    position: absolute;
    box-shadow: -4px 2px 56px #cac2b9;
    left: 48%;
    top: 48%;
    transform: translate(-50%,-50%);
    animation: orbit10 200s linear infinite;
}

@keyframes orbit10{
    from {transform: rotate(0deg)translateX(20.51vw) rotate(0deg);}
    to {transform: rotate(360deg)translateX(20.51vw) rotate(-360deg);}
}

.uranos-outline-1{
    height: 41.02vw;
    width: 41.02vw;
}

.neptune{
    height: 2.196vw;
    width: 2.196vw;
    background-image: url(../assets/neptune.png);
    background-size: 100%;
    border-radius: 50%;
    position: absolute;
    box-shadow: -4px 2px 56px #cac2b9;
    left: 48%;
    top: 48%;
    transform: translate(-50%,-50%);
    animation: orbit11 400s linear infinite;
}

@keyframes orbit11{
    from {transform: rotate(0deg)translateX(22.6vw) rotate(0deg);}
    to {transform: rotate(360deg)translateX(22.6vw) rotate(-360deg);}
}

.neptune-outline-1{
    height: 45.3vw;
    width: 45.3vw;
}